<a href="https://colab.research.google.com/github/PriyankaMittapelly/SaiPriyanka_INFO5731_Spring2020/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (1/19/2021, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [17]:
string1 = 'computational methods for IS'
print(len(string1))

28

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [2]:
import operator
def count_lis(s):
    val ={}
    keys = val.keys()
#for x in range(6):
    for n in s:
        keys = val.keys()
        #print(' keys val {} ' .format(keys))
        if n in keys:
            #print(n)
            val[n] += 1
        else:
            val[n] = 1
            
    print(val)
    Fval = sorted(val.items() , key = operator.itemgetter(1) ,reverse = True )
    print("Sorted in desnding order ")
    print(dict(Fval))
    
count_lis("google.com")

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}
Sorted in desnding order
{'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [18]:
lis1 = [  'UNT' , 2021 , ]
lis2 = [ 'IS' , 'semester1' ]
lis3 = [ 'section'  , 'CM' , 5731.002]
Flis = lis1+lis2+lis3
print(Flis)

['UNT', 2021, 'IS', 'semester1', 'section', 'CM', 5731.002]

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [5]:
def occurence(s):
    x = len(s)
    count = 0
    for x  , i in zip ( range(x+1) ,  s ):
        for j in s[1:]:
            count = count + 1
            #print( " count {} " .format(count))
            if i is j :
            
                old = list(s)
                print('old value {} ' .format(old))
                #print("match")
                old[count] = '$'
                new = old
                output = str(new)
                return(output)
                
            
            #else :
               # print("no match")
        
print( ' new value {} ' .format(occurence('restart')))

old value ['r', 'e', 's', 't', 'a', 'r', 't']
 new value ['r', 'e', 's', 't', 'a', '$', 't']

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [19]:
def sample(a, b ):
  x = (a/b) + 1
  
  y = lambda a : a * (pow(x,3))
  return(y(3.14))
print(sample(10,100))

4.179340000000002

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [20]:
dic1 = {1:10,2:20}
dic2 = {3:30,4:40}
dic3 = {5:50,6:60}
dic4 = { **dic1 , **dic2 , **dic3}
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [11]:
tup = ( " computational" , "methods" ,  "information science")
ele = input(" enter the element")
if ele in tup :
  print('element exist in tuple')
else:
  print('element doesnt exist')

 enter the elementIS
element doesnt exist

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [21]:
sets = { 12, 22, 56, 74 , 21, 24}
minimum = min(sets)
maximum = max(sets)
print(' MINIMUM VALUE {} MAXIMUM VALUE {}' .format(minimum,maximum))

 MINIMUM VALUE 12 MAXIMUM VALUE 74

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [22]:
import random
student = " 'vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091' "
Slist = student.split(",")
print(Slist)
size = len(Slist)
print(' "size of student list " :  {} ' .format(size))
l = round(size/3)
print(' "no of groups can be formed "  : {} '.format(l))
    
lis1 =[]
lis2 = []
count = 0
flis = []
for x in range(l):
    lis2.extend(lis1)
    i = 0
    print("GROUP NUMBER {} " .format(x))
    
    for i in range(3):
        
        if i < 3:
            x = random.choice(Slist)
            if x is not lis2:
                count = count + 1
                
                lis1.append(x)
            
                #print(lis1)
                #i =+ 1 
                if i is 2  :
                
                    
                    lis2 = lis1
                    print(' GROUP MEMBERS {} '.format(lis1))
                    lis1.clear()
                    break 
            
            else :
                print(" no slection ")
        
        #print('flist {} '.format(flis))
if count <= size - 1:
    x = random.choice(Slist)
    if x is not lis2 or lis1 :
        lis2.append(x)
        print(lis2)
                    
          
    print(count)

[" 'vmb0067'", "'pc0353'", "'snd0097'", "'yye0005'", "'sg0940'", "'bk0301'", "'rak0120'", "'rrk0058'", "'spk0057'", "'vl0135'", "'nm0547'", "'pn0159'", " 'msp0174'", "'dd0420'", "'ds0761'", "'rs0850'", "'ss1995'", "'at0739'", "'at0768'", "'mv0299'", "'tv0119'", "'dy0091' "]
 "size of student list " :  22
 "no of groups can be formed "  : 7
GROUP NUMBER 0
 GROUP MEMBERS ["'rak0120'", "'pn0159'", "'pc0353'"]
GROUP NUMBER 1
 GROUP MEMBERS ["'rrk0058'", "'mv0299'", "'ds0761'"]
GROUP NUMBER 2
 GROUP MEMBERS ["'vl0135'", "'bk0301'", "'rak0120'"]
GROUP NUMBER 3
 GROUP MEMBERS ["'nm0547'", "'ss1995'", "'vl0135'"]
GROUP NUMBER 4
 GROUP MEMBERS ["'dy0091' ", "'bk0301'", " 'vmb0067'"]
GROUP NUMBER 5
 GROUP MEMBERS ["'rs0850'", "'pn0159'", "'nm0547'"]
GROUP NUMBER 6
 GROUP MEMBERS ["'vl0135'", "'snd0097'", " 'vmb0067'"]
["'pc0353'"]
21