<a href="https://colab.research.google.com/github/PriyankaMittapelly/SaiPriyanka_INFO5731_Spring2020/blob/main/In_class_exercise_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The fourth in-class-exercise (20 points in total, 2/9/2021)**

# 1. Text Data Preprocessing

Here is a [legal case](https://github.com/unt-iialab/info5731_spring2021/blob/main/class_exercises/01-05-1%20%20Adams%20v%20Tanner.txt) we collected from westlaw, please follow the steps we mentioned in lesson 5 to clean the data:



## 1.1 Basic feature extraction using text data (4 points)

*   Number of sentences
*   Number of words
*   Number of characters
*   Average word length
*   Number of stopwords
*   Number of special characters
*   Number of numerics
*   Number of uppercase words

## 1.2 Basic Text Pre-processing of text data (4 points)

*   Lower casing
*   Punctuation removal
*   Stopwords removal
*   Frequent words removal
*   Rare words removal
*   Spelling correction
*   Tokenization
*   Stemming
*   Lemmatization

## 1.3 Save all the **clean sentences** to a **csv file** (one column, each raw is a sentence) after finishing all the steps above. (4 points)


## 1.4 Advance Text Processing (Extra credit: 4 points)

*   Calculate the term frequency of all the terms.
*   Print out top 10 1-gram, top 10 2-grams, and top 10 3-grams terms as features.

In [ ]:
import pandas as pd 

lis = []
emp = []
df = open('AdamsTanner.txt', "r")
lines = df.readlines()
for i in lines :
    lis.append(i)
df.close()
#df1 = pd.DataFrame(zip(lis , emp ) ,columns=["DATA" , "word_count"])
df1 = pd.DataFrame(lis , columns=["DATA"])


df1['DATA'] = df1['DATA'].str.replace("\n"," ")
df1

df1.to_csv('out.csv', index=False)
text = open("out.csv", "r") 
'''text = ''.join([i for i in text])  
text = text.replace("/n", " ") 
x = open("final.csv","w") 
x.writelines(text) 
x.close() '''  

# count senetences

data =  "/content/out.csv"

word = pd.read_csv(data)
word['sentence_count'] = word['DATA'].apply(lambda x : len(str(x).split(".")))
word['word_count'] = word['DATA'].apply(lambda x : len(str(x).split(" ")))
word['char_count'] = word['DATA'].str.len()
word['hashtags_rem'] = word['DATA'].apply(lambda x :len([x for x in  x.split() if x.startswith('#') ]))
word['digit'] = word['DATA'].apply(lambda x :len([x for x in  x.split() if x.isdigit()]))
word['upper'] = word['DATA'].apply(lambda x :len([x for x in  x.split() if x.isupper()]))
word[['DATA' ,'sentence_count' , 'word_count' , 'char_count','hashtags_rem' , 'digit' , 'upper']]

                                                  DATA  ...  upper
0                                          5 Ala. 740   ...      0
1                           Supreme Court of Alabama.   ...      0
2                                               ADAMS   ...      1
3                                                  v.   ...      0
4                                  TANNER AND HORTON.   ...      3
..                                                 ...  ...    ...
143           There are no Filings for this citation.   ...      0
144                                Negative Treatment   ...      0
145  There are no Negative Treatment results for th...  ...      0
146                                           History   ...      0
147   There are no History results for this citation.   ...      0

[148 rows x 7 columns]

In [ ]:
import pandas as pd 

data =  "/content/out.csv"

word = pd.read_csv(data)

def avg_cou(sentence):
    values = sentence.split()
    l = len(values)
    v = sum(len(val) for val in values)
    try:
     z = v/l
     return z
    except ZeroDivisionError:
     z = 0


word['avg_cou'] = word['DATA'].apply(lambda x : avg_cou(x))
word[['DATA','avg_cou']]

                                                  DATA   avg_cou
0                                          5 Ala. 740   2.666667
1                           Supreme Court of Alabama.   5.500000
2                                               ADAMS   5.000000
3                                                  v.   2.000000
4                                  TANNER AND HORTON.   5.333333
..                                                 ...       ...
143           There are no Filings for this citation.   4.714286
144                                Negative Treatment   8.500000
145  There are no Negative Treatment results for th...  5.555556
146                                           History   7.000000
147   There are no History results for this citation.   5.000000

[148 rows x 2 columns]

In [ ]:
from nltk.corpus  import  stopwords
import pandas as pd 
import nltk

data =  "/content/out.csv"

word = pd.read_csv(data)

nltk.download('stopwords')
stop = stopwords.words('english')
word['stop_count'] = word['DATA'].apply(lambda x :len([x for x in  x.split() if x in stop ]))

word[['DATA' ,'stop_count']]

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

                                                  DATA  stop_count
0                                          5 Ala. 740            0
1                           Supreme Court of Alabama.            1
2                                               ADAMS            0
3                                                  v.            0
4                                  TANNER AND HORTON.            0
..                                                 ...         ...
143           There are no Filings for this citation.            4
144                                Negative Treatment            0
145  There are no Negative Treatment results for th...           4
146                                           History            0
147   There are no History results for this citation.            4

[148 rows x 2 columns]

In [ ]:
#QUESTION 1.2 
import nltk
import pandas as pd 
from nltk.corpus  import  stopwords

from nltk.stem import PorterStemmer

import string

from textblob import TextBlob , Word 

data =  "/content/out.csv"

word = pd.read_csv(data)
#ALL CHAR TO LOWER CASE
word['DATA'] = word['DATA'].apply(lambda x :" ".join(x.lower() for x in x.split()))
word['DATA']
type1 = pd.DataFrame(word)


# STOP WORDS REMOVAL
nltk.download('stopwords')
stop = stopwords.words('english')

type1['DATA'] = type1['DATA'].apply(lambda x :" ".join([x for x in  x.split() if x not in stop ]))
type2 = pd.DataFrame(type1)

#punctuation

type2['DATA'] = type2['DATA'].apply(lambda x:''.join([i for i in x 
                                                  if i not in string.punctuation]))
type3 = pd.DataFrame(type2)

#FREQUENT WORDS REMOVAL

fre = pd.Series(' '.join(type2['DATA']).split()).value_counts()[:20]
fre = list(fre.index)
type3['DATA'] = type3['DATA'].apply(lambda x :" ".join([x for x in  x.split() if x not in fre ]))
type4 = pd.DataFrame(type3)

# RARE WORDS REMOVAL

rar = pd.Series(' '.join(type2['DATA']).split()).value_counts()[-20:]
rar = list(rar.index)
type4['DATA'] = type4['DATA'].apply(lambda x :" ".join([x for x in  x.split() if x not in rar ]))
type5 = pd.DataFrame(type4)
type5

# SPELLING CORRECTION 


type5['DATA'] = type5['DATA'] .apply(lambda x : str(TextBlob(x).correct()))
type6 = pd.DataFrame(type5)

#toeknization



# STEMMING 
st = PorterStemmer()
type6['DATA'] = type5['DATA'].apply(lambda x : " ".join([st.stem(info) for info in x.split()]))
type7 = pd.DataFrame(type6)


#lemmatization

nltk.download('wordnet')
type7['DATAafter cleaning'] = type6['DATA'].apply(lambda x : " ".join([Word(values).lemmatize() for values in x.split()]))
df1 = pd.DataFrame(type7)
type8

# all data after cleaning , storing in new datacleaning colum 

df1.to_csv('datacleaning.csv', index=False)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [ ]:
import nltk
import pandas as pd 
from textblob import TextBlob
# TOKENIZATION 

nltk.download('punkt')

TextBlob(type4['DATA'][2]).words

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

WordList(['adam'])

In [ ]:
#Calculate the term frequency of all the terms.
tf1 = (word['DATA'].apply(lambda x : pd.value_counts(x.split(" " ))).sum(axis=0).reset_index())
tf1.columns = ['word' ,'tf']
tf1

        word   tf
0        740  2.0
1          5  8.0
2     suprem  1.0
3    alabama  1.0
4       adam  1.0
..       ...  ...
729     half  1.0
730      let  1.0
731     file  2.0
732      neg  2.0
733  histori  2.0

[734 rows x 2 columns]

In [ ]:
from textblob  import Word
import nltk
import pandas as pd 
nltk.download('wordnet')
word['DATA'] = word['DATA'].apply(lambda x : " ".join([Word(word).lemmatize() for word in x.split()]))

print("N GRAM 2")

for i in range(11):
  print(TextBlob(word['DATA'][i]).ngrams(2))

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[WordList(['5', '740'])]
[WordList(['suprem', 'alabama'])]
[]
[]
[WordList(['manner', 'norton'])]
[WordList(['june', 'term']), WordList(['term', '1843'])]
[]
[WordList(['writ', 'error']), WordList(['error', 'circuit']), WordList(['circuit', 'sumter'])]
[]
[WordList(['west', 'headnot'])]
[]

In [ ]:
from textblob  import Word
import nltk
nltk.download('wordnet')
word['DATA'] = word['DATA'].apply(lambda x : " ".join([Word(word).lemmatize() for word in x.split()]))
print( " N 3 GRAM ")

for i in range(11):
  print(TextBlob(word['DATA'][i]).ngrams(3))

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
 N 3 GRAM
[]
[]
[]
[]
[]
[WordList(['june', 'term', '1843'])]
[]
[WordList(['writ', 'error', 'circuit']), WordList(['error', 'circuit', 'sumter'])]
[]
[]
[]

In [ ]:
from textblob  import Word
import pandas as pd 
import nltk
nltk.download('wordnet')
word['DATA'] = word['DATA'].apply(lambda x : " ".join([Word(word).lemmatize() for word in x.split()]))
print( " N 1 GRAM ")

for i in range(11):
  print(TextBlob(word['DATA'][i]).ngrams(1))

# 2. Python Regular Expression

## 2.1 Write a Python program to remove leading zeros from an IP address. (4 points)

ip = "260.08.094.109"

In [ ]:


ip = "260.08.094.109"
new_ip = ".".join([str(int(i)) for i in ip.split(".")])   
print(new_ip)

260.8.94.109

## 2.2 Write a Python Program to extract all the years from the following sentence. (4 points)

sentence = "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."

In [1]:
import re 
sentence =  "The 2010s were a dramatic decade, filled with ups and downs, more than 1000 stroies have happened. As the decade comes to a close, Insider took a look back at some of the biggest headline-grabbing stories, from 2010 to 2019. The result was 119 news stories that ranged from the heartwarming rescue of a Thai boys' soccer team from a flooded cave to the divisive election of President Donald Trump."
res = re.findall('2\d\d\d', sentence)
print(res)

['2010', '2010', '2019']